<?xml version="1.0"?>
<robot name="stamp_arm_fixed">
  <link name="world"/>
  <link name="stamp_arm___base_1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___base_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___base_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <link name="stamp_arm___link1_column_1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link1_column_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link1_column_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <link name="stamp_arm___link2_upper_arm_2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link2_upper_arm_2.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link2_upper_arm_2.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <link name="stamp_arm___link2_upper_arm_3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link2_upper_arm_3.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link2_upper_arm_3.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <link name="stamp_arm___link3_1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link3_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link3_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <link name="stamp_arm___link3_forearm_2">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link3_forearm_2.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link3_forearm_2.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <link name="stamp_arm___link3_forearm_3">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link3_forearm_3.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___link3_forearm_3.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <link name="stamp_arm___stamp_head_1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___stamp_head_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___stamp_head_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <link name="stamp_arm___stamp_slider_1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___stamp_slider_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___stamp_slider_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <link name="stamp_arm___table_1">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___table_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry><mesh filename="meshes/stamp_arm___table_1.stl" scale="0.001 0.001 0.001"/></geometry>
    </collision>
  </link>
  <joint name="world_to_stamp_arm___base_1" type="fixed">
    <parent link="world"/>
    <child link="stamp_arm___base_1"/>
  </joint>
  <joint name="world_to_stamp_arm___link1_column_1" type="fixed">
    <parent link="world"/>
    <child link="stamp_arm___link1_column_1"/>
  </joint>
  <joint name="world_to_stamp_arm___link2_upper_arm_2" type="fixed">
    <parent link="world"/>
    <child link="stamp_arm___link2_upper_arm_2"/>
  </joint>
  <joint name="world_to_stamp_arm___link2_upper_arm_3" type="fixed">
    <parent link="world"/>
    <child link="stamp_arm___link2_upper_arm_3"/>
  </joint>
  <joint name="world_to_stamp_arm___link3_1" type="fixed">
    <parent link="world"/>
    <child link="stamp_arm___link3_1"/>
  </joint>
  <joint name="world_to_stamp_arm___link3_forearm_2" type="fixed">
    <parent link="world"/>
    <child link="stamp_arm___link3_forearm_2"/>
  </joint>
  <joint name="world_to_stamp_arm___link3_forearm_3" type="fixed">
    <parent link="world"/>
    <child link="stamp_arm___link3_forearm_3"/>
  </joint>
  <joint name="world_to_stamp_arm___stamp_head_1" type="fixed">
    <parent link="world"/>
    <child link="stamp_arm___stamp_head_1"/>
  </joint>
  <joint name="world_to_stamp_arm___stamp_slider_1" type="fixed">
    <parent link="world"/>
    <child link="stamp_arm___stamp_slider_1"/>
  </joint>
  <joint name="world_to_stamp_arm___table_1" type="fixed">
    <parent link="world"/>
    <child link="stamp_arm___table_1"/>
  </joint>
</robot>
